In [1]:
import pandas as pd 
import numpy as np

In [2]:
df_1 = pd.read_csv('raw_0419_late.csv')
df_2 = pd.read_csv('Top10Rating&VoteByCountry.csv')

In [3]:
df_1

,Country_code,Country,Total Library Size,No. of TV Shows,No. of Movies,Cost Per Month - Basic ($),Cost Per Month - Standard ($),Cost Per Month - Premium ($),Movie_aveRating,TV_aveRating,GDP,Population,Gini_Index,Happiness_Share,Life_Satisfaction,Broadband_subscriptions,Cellular_subscriptions
0,AR,Argentina,4760,3154,1606,3.74,6.30,9.26,6.752242,6.752242,3.892881e+11,45376763.0,42.3,87.207031,5.901,21.178002,121.170400
1,AU,Australia,6114,4050,2064,7.84,12.12,16.39,6.868653,6.868653,1.327836e+12,25687041.0,34.3,93.989067,7.137,35.049375,107.663235
2,AT,Austria,5640,3779,1861,9.03,14.67,20.32,6.758839,6.758839,4.332585e+11,8917205.0,30.2,88.242794,7.213,28.934986,118.607839
3,BE,Belgium,4990,3374,1616,10.16,15.24,20.32,6.794554,6.794554,5.218613e+11,11555997.0,27.2,88.242794,6.839,40.848697,99.483201
4,BO,Bolivia,4991,3155,1836,7.99,10.99,13.99,6.776089,6.776089,3.657276e+10,11673029.0,43.6,88.242794,5.559,7.983520,101.125004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,UA,Ukraine,5336,3261,2075,5.64,8.46,11.29,6.807855,6.807855,1.554990e+11,44134693.0,25.6,68.300873,5.270,18.617013,129.341166
61,GB,United Kingdom,6643,4551,2092,7.91,13.20,18.48,6.746415,6.746415,2.759804e+12,67215293.0,35.1,93.269226,6.798,40.494732,116.381857
62,US,United States,5818,3826,1992,8.99,13.99,17.99,6.789608,6.789608,2.095303e+13,329484123.0,41.5,91.081085,7.028,36.413908,134.458879
63,UY,Uruguay,4989,3154,1835,8.99,12.99,15.99,6.755531,6.755531,5.362883e+10,3473727.0,40.2,86.345383,6.310,29.245748,138.074936
64,VE,Venezuela,4797,3154,1643,7.99,10.99,13.99,6.763664,6.763664,3.370061e+11,11614513.0,34.9,86.333336,4.574,29.541709,120.727332

In [4]:
df_2

      country_name  averageRating       numVotes
0        Argentina       7.300000   73667.636364
1        Australia       6.735294   51170.882353
2          Austria       6.720000   56523.133333
3          Belgium       7.146667   92616.133333
4          Bolivia       7.227273   73955.272727
5           Brazil       6.858333   60636.083333
6         Bulgaria       6.700000   57580.928571
7           Canada       6.785714   74551.785714
8            Chile       7.414286   58820.214286
9         Colombia       6.583333   60612.583333
10      Costa Rica       7.184615   62899.076923
11         Croatia       6.425000   66751.500000
12         Denmark       7.053333   66363.600000
13         Ecuador       7.200000   61353.666667
14         Estonia       6.900000  123766.384615
15         Finland       7.100000   62914.785714
16          France       6.893333   59459.266667
17         Germany       6.687500   53182.312500
18          Greece       6.871429   68420.357143
19       Guatemala       7.338462   56044.230769
20        Honduras       7.164286   52055.500000
21       Hong Kong       6.946667   90714.866667
22         Hungary       6.950000   63316.500000
23         Iceland       7.362500   97827.937500
24           India       7.193750   68895.250000
25       Indonesia       7.152941   56026.470588
26         Ireland       6.840000   30790.200000
27          Israel       7.480000   95393.333333
28           Italy       6.914286   65801.285714
29           Japan       7.188235   36085.529412
30          Latvia       7.136364   74727.363636
31       Lithuania       6.763636   74808.454545
32        Malaysia       7.076471   51256.117647
33          Mexico       7.266667   66604.500000
34     Netherlands       7.085714   63129.500000
35     New Zealand       6.785714   57262.857143
36          Norway       7.075000   62721.687500
37        Paraguay       7.484615   69267.846154
38            Peru       7.457143   58560.142857
39     Philippines       7.250000   80014.250000
40          Poland       6.853333   54293.333333
41        Portugal       6.560000   53837.533333
42         Romania       7.125000   60284.375000
43          Russia       7.025000  141837.166667
44       Singapore       7.260000   56094.800000
45        Slovakia       7.000000  104470.750000
46    South Africa       6.892857   57187.642857
47     South Korea       7.000000   50869.533333
48           Spain       7.028571   62493.714286
49          Sweden       7.192857   60329.428571
50     Switzerland       6.407143   61037.142857
51          Taiwan       6.818750   90365.687500
52        Thailand       7.228571   93187.500000
53          Turkey       6.761538   61264.461538
54         Ukraine       6.784615   97803.615385
55  United Kingdom       6.993750   64393.500000
56   United States       7.200000   95195.562500
57         Uruguay       7.076923   62466.461538
58       Venezuela       6.771429   58351.500000

In [5]:
df=df_1.merge(df_2,how='left',left_on='Country',right_on='country_name')
df.drop('country_name',axis = 1, inplace=True)
df.fillna({'averageRating':df.averageRating.mean(), 'numVotes':df.numVotes.mean()}, inplace=True)

df

,Country_code,Country,Total Library Size,No. of TV Shows,No. of Movies,Cost Per Month - Basic ($),Cost Per Month - Standard ($),Cost Per Month - Premium ($),Movie_aveRating,TV_aveRating,GDP,Population,Gini_Index,Happiness_Share,Life_Satisfaction,Broadband_subscriptions,Cellular_subscriptions,averageRating,numVotes
0,AR,Argentina,4760,3154,1606,3.74,6.30,9.26,6.752242,6.752242,3.892881e+11,45376763.0,42.3,87.207031,5.901,21.178002,121.170400,7.300000,73667.636364
1,AU,Australia,6114,4050,2064,7.84,12.12,16.39,6.868653,6.868653,1.327836e+12,25687041.0,34.3,93.989067,7.137,35.049375,107.663235,6.735294,51170.882353
2,AT,Austria,5640,3779,1861,9.03,14.67,20.32,6.758839,6.758839,4.332585e+11,8917205.0,30.2,88.242794,7.213,28.934986,118.607839,6.720000,56523.133333
3,BE,Belgium,4990,3374,1616,10.16,15.24,20.32,6.794554,6.794554,5.218613e+11,11555997.0,27.2,88.242794,6.839,40.848697,99.483201,7.146667,92616.133333
4,BO,Bolivia,4991,3155,1836,7.99,10.99,13.99,6.776089,6.776089,3.657276e+10,11673029.0,43.6,88.242794,5.559,7.983520,101.125004,7.227273,73955.272727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,UA,Ukraine,5336,3261,2075,5.64,8.46,11.29,6.807855,6.807855,1.554990e+11,44134693.0,25.6,68.300873,5.270,18.617013,129.341166,6.784615,97803.615385
61,GB,United Kingdom,6643,4551,2092,7.91,13.20,18.48,6.746415,6.746415,2.759804e+12,67215293.0,35.1,93.269226,6.798,40.494732,116.381857,6.993750,64393.500000
62,US,United States,5818,3826,1992,8.99,13.99,17.99,6.789608,6.789608,2.095303e+13,329484123.0,41.5,91.081085,7.028,36.413908,134.458879,7.200000,95195.562500
63,UY,Uruguay,4989,3154,1835,8.99,12.99,15.99,6.755531,6.755531,5.362883e+10,3473727.0,40.2,86.345383,6.310,29.245748,138.074936,7.076923,62466.461538
64,VE,Venezuela,4797,3154,1643,7.99,10.99,13.99,6.763664,6.763664,3.370061e+11,11614513.0,34.9,86.333336,4.574,29.541709,120.727332,6.771429,58351.500000

In [6]:
df.describe()

,Total Library Size,No. of TV Shows,No. of Movies,Cost Per Month - Basic ($),Cost Per Month - Standard ($),Cost Per Month - Premium ($),Movie_aveRating,TV_aveRating,GDP,Population,Gini_Index,Happiness_Share,Life_Satisfaction,Broadband_subscriptions,Cellular_subscriptions,averageRating,numVotes
count,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,6.500000e+01,6.500000e+01,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000
mean,5314.415385,3518.953846,1795.461538,8.368462,11.990000,15.612923,6.790122,6.790122,9.459684e+11,5.763877e+07,36.461538,85.059862,6.271877,27.868588,120.585794,7.011507,68513.781962
std,980.322633,723.010556,327.279748,1.937819,2.863979,4.040672,0.037900,0.037900,2.689225e+12,1.774387e+08,7.255616,10.090478,0.790996,13.522234,19.687118,0.240420,18408.460035
min,2274.000000,1675.000000,373.000000,1.970000,3.000000,4.020000,6.711016,6.711016,1.616370e+09,3.369100e+04,25.600000,50.191204,4.225000,1.615212,70.276933,6.407143,30790.200000
25%,4948.000000,3154.000000,1628.000000,7.990000,10.710000,13.540000,6.759411,6.759411,9.880801e+10,5.685807e+06,32.400000,83.524231,5.788000,18.617013,108.756292,6.853333,58351.500000
50%,5195.000000,3512.000000,1841.000000,8.990000,11.490000,14.450000,6.788432,6.788432,3.370061e+11,1.161451e+07,34.900000,88.242794,6.229000,29.541709,120.727332,7.011507,63129.500000
75%,5952.000000,3832.000000,1980.000000,9.030000,13.540000,18.060000,6.815685,6.815685,5.966244e+11,4.537676e+07,41.100000,91.715973,6.897000,36.413908,130.396679,7.188235,73667.636364
max,7325.000000,5234.000000,2387.000000,12.880000,20.460000,26.960000,6.868653,6.868653,2.095303e+13,1.380004e+09,63.000000,96.386719,7.889000,57.852883,174.207331,7.484615,141837.166667

In [7]:
df.to_csv('data_with_top10_rating&votes.csv')

In [31]:
df_test = df.sample(frac=0.2,random_state=5153)
df_test.to_csv('test.csv')

In [18]:
df_test.index.tolist()

[46, 27, 3, 36, 53, 0, 41, 64, 20, 5, 16, 44, 15]

In [25]:
list = []

for i in range(len(df)):
    if i not in df_test.index.tolist():
        list.append(i)
list

[1,
 2,
 4,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 17,
 18,
 19,
 21,
 22,
 23,
 24,
 25,
 26,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 37,
 38,
 39,
 40,
 42,
 43,
 45,
 47,
 48,
 49,
 50,
 51,
 52,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63]

In [32]:
df_train = df.iloc[list]
df_train.to_csv('train.csv')